<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <p>2026 HDMI Lab @ kit</p>
		</div>
		<div class="col-sm-4">
		  <b>Contact</b><br />
		  Email: schoo@kumoh.ac.kr<br />
		  Phone: +82-54-478-7658<br />
		</div>
		<div class="col-sm-4">
		  <b>Address</b><br />
		  HDMI Lab, Room G630<br />
		  Kumoh National Institute of Technology<br />
		  61 Daehak-ro, Gumi, Gyeongbuk<br />
		  Republic of Korea 39177<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
